<div style="width:80%;margin-left:20%;margin-top:30px">
  <h5>商品詳細</5>
</div>

<div class="table table-borderless" style="width:80%;margin-left:5%;margin-top:60px">
<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-3">
      <%= image_tag @item.image, size: "250x150" %>
    </div>
    <div class="col-8">
      <table class="table table-borderless" >
        <tbody>
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td>税込価格(税抜価格)</td>
            <td><%= @item.price %>円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <% if @item.is_active == true %>
            <td class="text-success">販売中</td>
            <% else %>
            <td class="text-success">販売停止中</td>
            <% end %>
          </tr>
          <tr>
            <td></td>
            <td class= "btn btn-success"><%= link_to '編集する', edit_admin_item_path(@item.id), class:"text-light" %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>